/* Global Reset */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: conic-gradient(
    from -25deg,
    #000000 10%,
    #222A3A 29%,
    #000000 44%,
    #222A3A 67%,
    #000000 85%,
    #15171A 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}


/* Utility Classes */
.no-bullets {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container-padding {
  padding-right: 10vw;
}

.h1-padding {
  padding-right: 8.7vw;
}

.icon-btn {
  background-color: rgba(255, 255, 255, 0.048);
  border: 1px solid #fff;
  border-radius: 0.4rem;
  padding: 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.icon-btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

/* Typography */
.inter-medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-style: normal;
}

.inter-bold-italic {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
}

.baskerville-italic {
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
  font-style: italic;
}

h1 {
  padding-top: 3rem;
  line-height: 1.2;
  text-align: left;
}

.concept-text {
  font-size: clamp(1.25rem, 2.6vw, 4rem);
}

.slap-text {
  font-size: clamp(2.5rem, 3.9vw, 6rem);
}

.paragraph-one {
  font-size: clamp(0.75rem, 1vw, 1rem);
  font-weight: 500;
}

.right-column {
  max-width: clamp(320px, 43vw, 720px);
  margin-left: auto;
}

/* Navbar */
.navbar {
  padding: 0vh 0vw;
}

.nav-link {
  font-size: 1.0rem;
}

.container-fluid {
  padding: 5vh 5vw;
}
