/* Global Reset */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: conic-gradient(
    from -25deg,
    #000000 10%,
    #222A3A 29%,
    #000000 44%,
    #222A3A 67%,
    #000000 85%,
    #15171A 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100;
  z-index: -1; 
  color: #f30000;
}

/* #landing {
  background-color: #ff6347;
} */

#about {
  background: conic-gradient(
    from -25deg,
    #000000 10%,
    #222A3A 29%,
    #000000 44%,
    #222A3A 67%,
    #000000 85%,
    #15171A 100%
  );
}


#works {
  background-color: #000000;
}


/* Utility Classes */


section {
  scroll-snap-align: start;
  height: 100vh;
}

.no-bullets {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container-padding {
  padding-right: 10vw;
}

.h1-padding {
  padding-right: 8.7vw;
}

.icon-btn {
  background-color: rgba(255, 255, 255, 0.048);
  border: 1px solid #fff;
  border-radius: 0.4rem;
  padding: 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.icon-btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

/* Typography */
.inter-medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-style: normal;
}

.inter-bold-italic {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 1px;
}

.baskerville-italic {
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
  font-style: italic;
}

h1 {
  padding-top: 3rem;
  line-height: 1.2;
  text-align: left;
}

.concept-text {
  font-size: clamp(1.25rem, 2.6vw, 4rem);
}

.slap-text {
  font-size: clamp(2.5rem, 3.9vw, 6rem);
}

.paragraph-one {
  font-size: clamp(0.75rem, 1vw, 1rem);
  font-weight: 500;
}

.paragraph-two {
  font-size: clamp(0.75rem, 1vw, 1rem);
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-variant: all-small-caps;
}

.transparent-word {
  color: rgba(255, 255, 255, 0.623);
}

.right-column {
  max-width: clamp(320px, 43vw, 720px);
  margin-left: auto;
}

/* Navbar */
#designing-header {
  position: relative;
  padding: 1rem 2rem;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 1rem 2rem;
}

#navbar ul li a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s, background-color 0.3s;
}

#navbar ul li a.active {
  color: #ff0000; 
  background-color: transparent;
}

#navbar ul li a:hover {
  color: #000000; 
}

.navbar {
  padding: 0vh 0vw;
}

.container-fluid {
  padding: 3vh 5vw;
}

/* Breakpoints */